$secondary: #ffab2e;

.main {
  flex-grow: 1;
  // background-color: #fff;
  position: relative;
  isolation: isolate;
  padding: 3rem;

  h2 {
    color: black;
    text-shadow: 0 0 10px white;
  }

  h3 {
    color: $secondary;
    font-size: 2rem;
    text-shadow: 0 0 10px white;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    select {
      all: unset;
      display: flex;
      align-items: center;
      margin: 1rem;
      padding: 1rem 2rem;
      text-align: center;
      border: 1px solid $secondary;
      background-color: white;
      border-radius: 25px;
      color: $secondary;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2rem;
    gap: 1rem;

    li {
      transition: all 0.5s ease-in-out;
    }
  }

  li:hover {
    transform: scale(1.2);
    background-color: #fff;
  }
}

@media (width > 900px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      margin: 2rem 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

// .main::after {
//   content: '';
//   position: absolute;
//   inset: 0;
//   // background-image: url('../../../assets/brooke-lark-kXQ3J7_2fpc-unsplash.jpg');
//   background-size: cover;
//   background-position: center;
//   z-index: -1;
//   filter: blur(5px) brightness(1);
// }
