.homePage {
  background-image: url('https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5vw;

  hgroup {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-shadow: 0 0 020px white;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.655);

    h1 {
      font-size: 3rem;
      transition: all 0.5s ease;

      @media (width < 700px) {
        font-size: 1.5rem;
      }
    }
  }
}
