.homePage {
  background-image: url('../../../assets/brooke-lark-kXQ3J7_2fpc-unsplash.jpg');
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5vw;

  hgroup {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-shadow: 0 0 020px white;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.655);

    h1 {
      font-size: 3rem;
      transition: all 0.5s ease;

      @media (width < 700px) {
        font-size: 1.8rem;
      }
    }
  }
}
