$secondary: black;
$first: #ffab2e;
.li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2rem;
  width: 15rem;
  height: 12rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px gray;
  border-radius: 25px;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: initial;
    text-shadow: 0 0 5px white;
    color: $secondary;
    border-radius: $secondary;
  }
  img {
    height: 150px;
    object-fit: cover;
  }
  div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    span {
      color: $secondary;
    }
  }
}
