.footer {
  position: relative;
  bottom: 0;
  height: 3rem;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  address {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    text-align: right;
    color: #ffab2e;
    span {
      margin-left: 1rem;
    }
    a {
      all: unset;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
