$secondary: #ffab2e;

.main {
  padding: 3rem;
  div {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;

    img {
      transition: all 0.5s ease-in-out;
      width: 40%;
      @media (width < 700px) {
        width: 80%;
      }
    }
  }
}
.noToken {
  background-image: url(../../../assets/error-image.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  flex-grow: 1;
  p {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
  }
  a {
    padding: 1rem;
    text-decoration: none;
    color: #ffab2e;
  }
}
