$secondary: #ffab2e;

.main {
  padding: 3rem;
  div {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;

    img {
      transition: all 0.5s ease-in-out;
      width: 40%;
      @media (width < 700px) {
        width: 80%;
      }
    }
  }
}
